.weekend-details {

  h1 {
    padding-top: 40px;
    text-align: center;
  }
  .align-right {
    text-align: right;
  }

}

.detail-element {
    margin: 40px 0;
    background: $light-gray;
    border-radius: 10px;
    padding: 20px;
  }

.favorite-places {
  width: 100%;
  background-image: url('/images/mountains.jpg');
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  .info {
    margin: auto;
    text-align: center;
    a {
      color: black;
    }
    button {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
