.weekend-details {

  h1 {
    padding-top: 40px;
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  .detail-element {
    margin: 40px 0;
    background: $light-gray;
    border-radius: 10px;
    padding: 20px;
  }
}
