@font-face {
  font-family: 'Dingleberries';
  src: url('/styles/fonts/Dingleberries.ttf');
}

@font-face {
  font-family: 'Watermelon';
  src: url('/styles/fonts/Watermelon-Script.ttf');
}

.calligraphy {
  font-family: 'Watermelon', cursive, serif;
}

.curly-accent {
  font-family: 'Dingleberries', sans-serif;
}