.hero {
  background-image: url('/images/header-image.JPG');
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;

  .hero-text {
    text-align: center;
    font-family: Watermelon;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  .accents {
    font-family: 'Dingleberries';
  }
}

@media only screen and (max-width : 600px) {
  .hero {
    background-image: url('/images/mobile-hero.jpg');
  }
}