.hero {
  background-image: url('/images/header-image.JPG');
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;

  .hero-text {
    text-align: center;
    font-family: Watermelon;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  .accents {
    font-family: 'Dingleberries';
  }
}

nav {
  z-index: 100;
  position: fixed;
  background: $dark-gray;
  height: 60px;
  color: white;
  width: 100%;
  a {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
  }
}

@media only screen and (max-width : 600px) {
  .hero {
    background-image: url('/images/mobile-hero.jpg');
  }
}