nav {
  z-index: 100;
  position: fixed;
  background: $dark-gray;
  height: 60px;
  color: white;
  width: 100%;
  a {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
  }

  .close, .hamburger {
    display: none;
  }

  img {
    width: 25px;
    height: 20px;
    float: right;
    display: none;
    position: relative;
    top: 20px;
    right: 30px;
    &:hover{
      cursor: pointer;
    }
  }
}

@media only screen and (max-width : 600px) {
  nav {
    .desk-nav {
      display: none;
    }
    .hamburger {
      display: block;
    }
    img {
      display: block;
    }
  }
}

@media only screen and (min-width : 600px) {
  .hamburger, .close {
    display: none;
  }
}